# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app

*.ilk
*.log
*.pdb
*.tlog
*.idb
*.lastbuildstate

mem.res
*.cbproj.local
*.local
*.user
*.res
Win32
__history/
__recovery/
__astcache/
**/__history/
**/__recovery/
**/__astcache/
.idea/
.vs/
venv/
x64/
x86/
src/darkstar/bin
packages/
tmp/
bin/

conanbuildinfo.txt
conanbuildinfo.json
conan_build.props
conan_imports_manifest.txt
graph_info.json
conaninfo.txt
conan.lock
cmake-build-debug/