.idea/
venv/
build/
cmake-build-debug/
cmake-build-release/
packages/
bin/
x64/
dist/
__pycache__/
CMakeFiles/
Debug/
Release/
Package/
final build/

*.dig
*.obj
*.dts
*.DTS
*.cmake

CMakeCache.txt
conaninfo.txt
conanbuildinfo.txt
conan.lock
graph_info.json
activate.bat
activate.ps1
activate.sh
deactivate.bat
deactivate.ps1
deactivate.sh
environment.*.env
siege-shell/src/besieged-theme.png
besieged-theme.txt
cmake/ 
3space-studio/src/logo.ico
3space-studio/src/logo.png
*.zip
/install.bat
/tools/install.bat
/extender/install.bat
ImageMagick
/conanbuildinfo.json
/logo/logo.png
