.vs/
.idea/
out/
build/
cmake-build-release/
cmake-build-debug/
packages/
conan.lock
conan_imports_manifest.txt
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
cmake_install.cmake
special-config.toml
deactivate.bat
deactivate.ps1
deactivate.sh
environment.bat.env
environment.ps1.env
environment.sh.env
graph_info.json
activate.sh
activate.ps1
activate.bat
